@import url("./base.css");

:root {
  --message-text-color: white;
  --user-msg-color: linear-gradient(135deg, #4895ef 0%, #4361ee 100%);
  --self-msg-color: linear-gradient(135deg, #84d368 0%, #68d39c 100%);
}

.chat-window {
  display: flex;
  flex-direction: column;
  background: transparent;
  overflow-y: auto;
  padding: var(--padding-x4);
  gap: var(--gap-x1);
  flex-grow: 1;
}

.chat-window::-webkit-scrollbar {
  width: var(--gap-half);
}
.chat-window::-webkit-scrollbar-track {
  background: transparent;
}
.chat-window::-webkit-scrollbar-thumb {
  background: var(--lite-bg-dark);
}

.chat-window::-webkit-scrollbar-thumb:hover {
  background: var(--standard-bg-dark);
}

.message {
  display: flex;
  flex-direction: row;
  max-width: 75%;
  animation: fadeIn 0.3s ease-out;
  text-align: left;
  gap: var(--gap-half);
}

.message.system {
  align-self: center;
  text-align: center;
  width: 100%;
}

.system-text {
  font-size: 0.85em;
  color: var(--text-secondary);
  background: var(--standard-bg);
  display: inline-block;
  margin: 0 auto;
  padding: var(--padding-x1) var(--padding-x4);
  border-radius: 100vh;
}

.message.self {
  align-self: flex-end;
}

.message.other {
  align-self: flex-start;
}

.message-column {
  display: flex;
  flex-direction: column;
  gap: var(--gap-x1);
  padding: 0;
  margin: 0;
  min-width: 0;
  max-width: 100%;
  flex-shrink: 1;
}

/* 用户名 */
.username {
  font-size: 0.8em;
  color: var(--text-primary);
  font-weight: 300;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

.message-content {
  display: flex;
  flex-direction: column;
  padding: var(--radius-normal);
  border-radius: var(--radius-normal);
  box-shadow: var(--shadow-normal);
  color: var(--message-text-color);
  gap: var(--gap-half);
  margin: 0;
  font-size: 0.95em;
  white-space: pre-wrap;
  overflow-x: auto;
}

.message.self .message-content {
  background: var(--self-msg-color);
}

.message.other .message-content {
  background: var(--user-msg-color);
}

.message.self .username {
  text-align: right;
}

.message.other .username {
  text-align: left;
}

.message.self .avatar {
  background-image: var(--current-self-avatar);
}

.message.other .avatar {
  background-image: var(--current-user-avatar);
}

.message-image-item {
  max-height: 32vh;
  max-width: 16vw;
  border-radius: var(--radius-small);
  transition: transform 0.2s;
  box-shadow: var(--shadow-normal);
  object-fit: cover;
  cursor: pointer;
}

.message-image-item:hover {
  transform: scale(1.05);
}

.context-menu {
  position: fixed;
  min-width: 160px;
  background: var(--lite-bg);
  -webkit-backdrop-filter: var(--frosted-glass);
  backdrop-filter: var(--frosted-glass);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-normal);
  padding: var(--padding-x1);
  gap: var(--gap-half);
}

.menu-item {
  padding: var(--padding-x2);
  font-size: 0.85em;
  color: var(--text-primary);
  cursor: pointer;
  border-radius: var(--radius-tiny);
  align-items: center;
}

.menu-item:hover {
  background: var(--border-focus);
  color: white;
}

.mention-status-area {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-x1);
  margin: 0;
  padding: 0;
  padding-bottom: var(--gap-half);
  min-height: 0;
}

.status-tag {
  display: flex;
  align-items: center;
  gap: var(--gap-x1);
  background: #e1f5fe;
  color: var(--text-blue);
  padding: var(--padding-x1);
  border-radius: 4px;
  font-size: 0.75em;
}

.status-tag.reply {
  background: #f1f8e9;
  color: var(--text-green);
}

.status-tag .close-btn {
  cursor: pointer;
  font-weight: bold;
  font-size: 0.75em;
}

.status-tag .close-btn:hover {
  color: var(--text-red);
}

.quote-message {
  background: var(--lite-bg-dark);
  padding: var(--padding-x2);
  border-radius: var(--radius-small);
  font-size: 0.85em;
  cursor: pointer;
  overflow: hidden;
}

.quote-message:hover {
  background: var(--standard-bg-dark);
}

.quote-sender {
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 2px;
  color: white;
}

.quote-text {
  opacity: 0.85;
  white-space: nowrap;
}
