@import url("./base.css");
.itemlist-title,
.itemlist-item {
  display: flex;
  height: 40px;
  flex-direction: row;
  align-items: center;
  color: var(--text-primary);
}
.itemlist-title {
  padding: var(--padding-x4) var(--padding-x3);
}

.itemlist-item {
  padding: var(--padding-x3);
  min-height: 0;
}

.itemlist-item {
  animation: fadeIn 0.3s ease-out;
}

.itemlist-item:hover {
  background: var(--darken-color);
}

.itemlist-item .tool-btn {
  display: none;
}

.itemlist-item:hover .tool-btn {
  display: block;
}

.avatar-status {
  position: relative;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  padding-right: var(--gap-x1);
}

.status-badge {
  position: absolute;
  bottom: 0;
  right: var(--gap-x1);
  width: var(--radius-normal);
  height: var(--radius-normal);
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 1;
}

.status-badge.online {
  background-color: #2ecc71;
  /* --pulse-color-semi: rgba(46, 204, 113, 0.7);
  --pulse-color-transparent: rgba(46, 204, 113, 0);
  animation: pulse 2s infinite ease-in-out; */
}

.status-badge.busy {
  background-color: #ffa500;
  --pulse-color-semi: rgba(255, 165, 0, 0.7);
  --pulse-color-transparent: rgba(255, 165, 0, 0);
  animation: pulse 2s infinite ease-in-out;
}

.status-badge.tip {
  background-color: #ff4d4f;
}

.status-badge.none {
  display: none;
}

.itemlist-item-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0;
  min-width: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.itemlist-item-info strong,
.itemlist-item-info small {
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-height: 50%;
  overflow: hidden;
}

.itemlist-item-info strong {
  align-items: flex-start;
  color: var(--text-primary);
}

.itemlist-item-info small {
  align-items: flex-end;
  color: var(--text-secondary);
}

.grow-flex {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}
