@import url("./base.css");
:root {
  --item-padding: 12px 12px;
  --item-padding-large: 16px 12px;
  --item-select-color: rgba(0, 0, 0, 0.1);
}

.itemlist-title,
.itemlist-item {
  display: flex;
  height: 40px;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  color: var(--text-primary);
}
.itemlist-title {
  padding: var(--item-padding-large);
}

.itemlist-item {
  padding: var(--item-padding);
  min-height: 0;
}

.itemlist-item {
  animation: fadeIn 0.3s ease-out;
}

.itemlist-item:hover {
  background: var(--item-select-color);
}

.itemlist-item .tool-btn {
  display: none;
}

.itemlist-item:hover .tool-btn {
  display: block;
}

.avatar-status {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.avatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.status-badge {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 1;
}

.status-badge.online {
  background-color: #2ecc71;
  /* --pulse-color-semi: rgba(46, 204, 113, 0.7);
  --pulse-color-transparent: rgba(46, 204, 113, 0);
  animation: pulse 2s infinite ease-in-out; */
}

.status-badge.busy {
  background-color: #ffa500;
  --pulse-color-semi: rgba(255, 165, 0, 0.7);
  --pulse-color-transparent: rgba(255, 165, 0, 0);
  animation: pulse 2s infinite ease-in-out;
}

.status-badge.tip {
  background-color: #ff4d4f;
}

.status-badge.none {
  display: none;
}

.avatar {
  background-color: #ccc;
}

.itemlist-item-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0;
  min-width: 0;
  flex-shrink: 1;
}

.itemlist-item-info strong {
  display: flex;
  align-items: flex-start;
  color: var(--text-primary);
  min-height: 50%;
}

.itemlist-item-info small {
  display: flex;
  align-items: flex-end;
  color: var(--text-secondary);
  min-height: 50%;
}

.grow-flex {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--pulse-color-semi);
    transform: scale(1);
  }
  70% {
    /* 扩散效果 */
    box-shadow: 0 0 0 6px var(--pulse-color-transparent);
    transform: scale(1.05);
  }
  100% {
    box-shadow: 0 0 0 0 var(--pulse-color-transparent);
    transform: scale(1);
  }
}
