@import url("./base.css");

:root {
  --message-text-color: white;
  --user-msg-color: linear-gradient(135deg, #4895ef 0%, #4361ee 100%);
  --self-msg-color: linear-gradient(135deg, #84d368 0%, #68d39c 100%);
}

.chat-window {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  background: transparent;
  overflow-y: auto;
  padding: 20px;
}
/* 自定义滚动条样式 */
.chat-window::-webkit-scrollbar {
  width: 8px; /* 滚动条宽度 */
}

.chat-window::-webkit-scrollbar-track {
  background: transparent; /* 滚动轨道背景透明 */
}

.chat-window::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); /* 滚动条滑块颜色（半透明黑色） */
}

.chat-window::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4); /* 悬停时加深颜色 */
}

.message {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  max-width: 85%;
  animation: fadeIn 0.3s ease-out;
  text-align: left;
}

.message.system {
  align-self: center;
  text-align: center;
  width: 100%;
}
.system-text {
  font-size: 0.85em;
  color: var(--text-secondary);
  background: var(--standard-bg);
  display: inline-block;
  margin: 0 auto;
  padding: 8px var(--radius-large);
  border-radius: var(--radius-large);
}

.message.self {
  align-self: flex-end;
}

.message.other {
  align-self: flex-start;
}

.message-content {
  display: flex;
  flex-direction: column;
  padding: var(--radius-large);
  border-radius: var(--radius-large);
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 80%;
  box-shadow: var(--shadow-normal);
  color: var(--message-text-color);
  gap: 8px;
}

.message.self .message-content {
  align-self: flex-end;
  background: var(--self-msg-color);
}

.message.other .message-content {
  align-self: flex-start;
  background: var(--user-msg-color);
}

/* 用户名 */
.username {
  font-size: 0.8em;
  color: var(--text-primary);
  margin-bottom: 6px;
  font-weight: 300;
  white-space: nowrap;
}

.message.self .username {
  text-align: right;
}

.message.other .username {
  text-align: left;
}

.message-text {
  margin: 0;
  font-size: 0.95em;
  line-height: 1.5;
}

.message-image-item {
  max-height: 32vh;
  max-width: 16vw;
  border-radius: var(--radius-normal);
  transition: transform 0.2s;
  box-shadow: var(--shadow-normal);
  object-fit: cover;
  cursor: pointer;
}

.message-image-item:hover {
  transform: scale(1.05);
}
