@import url("./base.css");
:root {
  --item-padding: 12px 12px;
  --item-select-color: rgba(0, 0, 0, 0.1);
}

.itemlist-title,
.itemlist-item {
  display: flex;
  height: 48px;
  flex-direction: row;
  align-items: center;
  padding: var(--item-padding);
  padding-right: 12px;
  color: var(--text-primary);
}
.itemlist-title {
  min-height: 48px;
}
.itemlist-item {
  min-height: 0;
}

.itemlist-item {
  animation: fadeIn 0.3s ease-out;
}

.itemlist-item:hover {
  background: var(--item-select-color);
}

.itemlist-item .tool-btn {
  display: none;
}

.itemlist-item:hover .tool-btn {
  display: block;
}
